<nav class="sanhe nav">
  <div class="sanhe nav-left">
    <a class="nav-item is-brand" href="#">
      <img src="http://img1.timeface.cn/story/69f6efdb07ea96aef79eb2b1b81fe165.png" alt="Bulma logo">
    </a>
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>
  <div class="sanhe nav-center">
      <a class="nav-item" href="#">
            首页
        </a>
        <a class="nav-item" href="#">
            作品
        </a>
        <a class="nav-item" href="#">
            活动
        </a>
        <a class="nav-item" href="#">
            制作时光书
        </a>
        <a class="nav-item" href="#">
            个性印品
        </a>
        <a class="nav-item" href="#">
            客户端
        </a>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="#">
        登录
    </a>
    <a class="nav-item" href="#">
        注册
    </a>
  </div>
</nav>